.menuContainer {
    display: block;
    background-color: ivory;
    min-height: calc(100vh - 5rem);
}

    .menuContainer h3 {
        background-color: #282c34;
        color: white;
        margin: 0;
        padding: 1rem;
        border: 1px solid white;
    }

    .menuContainer .menuContent {
        overflow: auto;
        display: flex;
        flex-direction: column;
        min-height: calc(100vh - 10.5rem);
        max-height: calc(100vh - 10.5rem);
    }